.tecnologies__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.tecnologies__container > div {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.tecnologies__container > div:hover {
 background: transparent;
 border-color: var(--color-primary-variant);
 cursor: default;
}

.tecnologies__container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.tecnologies__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
}

.tecnologies__details {
    display: flex;
    gap: 2rem;
}

.tecnologies__details-icon {
    margin-top: 0.5rem;
    color: var(--color-primary);
}

/* MEDIA QUERIES (TABLETS) */

@media screen and (max-width: 1024px) {
.tecnologies__container {
    grid-template-columns: 1fr;
}
.tecnologies__container > div {
    width: 80%;
    padding: 2rem;
    margin: auto;
}
.tecnologies__content {
    padding: 1rem;
}
        }
        
        /* MEDIA QUERIES (CELULARES) */
        
        @media screen and (max-width: 600px) {
.tecnologies__container{
    gap: 1rem;
}
.tecnologies__container > div {
    width: 100%;
    padding: 2rem 1rem;
}
        }